# Test ML Pipeline

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark

In [4]:
cd ..

/Users/cls/Documents/IndependentDataScience/Projects/Telekom/MLPipeline

In [5]:
from mlpipelinefactory import factory

In [6]:
data_path = "/Users/cls/Documents/IndependentDataScience/Projects/point8/data-science-101/notebooks/.assets/data/titanic/titanic.csv"

In [7]:
spark = pyspark.sql.SparkSession \
    .builder \
    .appName("MLPipelineTest") \
    .getOrCreate()

In [8]:
from pyspark.sql.types import StructType, StructField, DoubleType, IntegerType, StringType

schema = StructType([
             StructField('PassengerId', StringType()),
             StructField('Survived', IntegerType()),
             StructField('Pclass', IntegerType()),
             StructField('Name', StringType()),
             StructField('Sex', StringType()),
             StructField('Age', IntegerType()),
             StructField('SibSp', IntegerType()),
             StructField('Parch', IntegerType()),
             StructField('Ticket', StringType()),
             StructField('Fare', DoubleType()),
             StructField('Cabin', StringType()),
             StructField('Embarked', StringType())
        ])

In [9]:
data = spark.read.format("csv").option("header", "true").schema(schema).load(data_path)

In [10]:
data.take(5)

[Row(PassengerId='1', Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'),
 Row(PassengerId='2', Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId='3', Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId='4', Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId='5', Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S')]

In [11]:
data.show(5)

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [12]:
data.dtypes

[('PassengerId', 'string'),
 ('Survived', 'int'),
 ('Pclass', 'int'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'int'),
 ('SibSp', 'int'),
 ('Parch', 'int'),
 ('Ticket', 'string'),
 ('Fare', 'double'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [13]:
pf = factory.MLPipelineFactory(data=data,
                                    problemType="classification",
                                    target="Survived",
                                    numericCols=[
                                            "Age",
                                            "Fare",
                                            "SibSp",
                                            "Parch"
                                        ],
                                    categoricalCols = [
                                            "Sex",
                                            "Embarked"
                                        ],
                                    categoricalEncoding="index",
                                    algorithm="Random Forest")

In [14]:
(categoricalPipeline, preproPipeline, finalPipeline, completePipeline) = pf.make()

assembling feature vectors, using input columns:  ['Age', 'Fare', 'SibSp', 'Parch', 'Sex_indexed', 'Embarked_indexed']

In [15]:
categoricalPipeline.getStages()

[StringIndexer_46fb9af79f3143bc118f, StringIndexer_49069213b8b8e996f632]

In [16]:
# train-test split
training, test = data.randomSplit([0.8, 0.2])
training = training.cache()

In [17]:
categoricalModel = categoricalPipeline.fit(training)

In [18]:
categoricalModel.transform(training).show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+-------+--------+-----------+----------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|           Ticket|    Fare|  Cabin|Embarked|Sex_indexed|Embarked_indexed|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+-------+--------+-----------+----------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|        A/5 21171|    7.25|   null|       S|        0.0|             0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|           237736| 30.0708|   null|       C|        1.0|             1.0|
|        100|       0|     2|   Kantor, Mr. Sinai|  male|  34|    1|    0|           244367|    26.0|   null|       S|        0.0|             0.0|
|        101|       0|     3|Petranec, Miss. M...|female|  28|    0|    0|           349245|  7.8958|   null|       S|        1.0|             0.0|
|        102|       0|     3|"Petroff, Mr. Pas...|  male|null|    0|    0|           349215|  7.8958|   null|       S|        0.0|             0.0|
|        103|       0|     1|White, Mr. Richar...|  male|  21|    0|    1|            35281| 77.2875|    D26|       S|        0.0|             0.0|
|        104|       0|     3|Johansson, Mr. Gu...|  male|  33|    0|    0|             7540|  8.6542|   null|       S|        0.0|             0.0|
|        105|       0|     3|Gustafsson, Mr. A...|  male|  37|    2|    0|          3101276|   7.925|   null|       S|        0.0|             0.0|
|        106|       0|     3|Mionoff, Mr. Stoy...|  male|  28|    0|    0|           349207|  7.8958|   null|       S|        0.0|             0.0|
|        108|       1|     3|Moss, Mr. Albert ...|  male|null|    0|    0|           312991|   7.775|   null|       S|        0.0|             0.0|
|        109|       0|     3|     Rekic, Mr. Tido|  male|  38|    0|    0|           349249|  7.8958|   null|       S|        0.0|             0.0|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|          PP 9549|    16.7|     G6|       S|        1.0|             0.0|
|        114|       0|     3|Jussila, Miss. Ka...|female|  20|    1|    0|             4136|   9.825|   null|       S|        1.0|             0.0|
|        115|       0|     3|Attalah, Miss. Ma...|female|  17|    0|    0|             2627| 14.4583|   null|       C|        1.0|             1.0|
|        116|       0|     3|Pekoniemi, Mr. Ed...|  male|  21|    0|    0|STON/O 2. 3101294|   7.925|   null|       S|        0.0|             0.0|
|        118|       0|     2|Turpin, Mr. Willi...|  male|  29|    1|    0|            11668|    21.0|   null|       S|        0.0|             0.0|
|        119|       0|     1|Baxter, Mr. Quigg...|  male|  24|    0|    1|         PC 17558|247.5208|B58 B60|       C|        0.0|             1.0|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|           113783|   26.55|   C103|       S|        1.0|             0.0|
|        121|       0|     2|Hickman, Mr. Stan...|  male|  21|    2|    0|     S.O.C. 14879|    73.5|   null|       S|        0.0|             0.0|
|        122|       0|     3|Moore, Mr. Leonar...|  male|null|    0|    0|        A4. 54510|    8.05|   null|       S|        0.0|             0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------------+--------+-------+--------+-----------+----------------+
only showing top 20 rows

In [19]:
%%time
model = completePipeline.fit(training)

CPU times: user 43.9 ms, sys: 8.91 ms, total: 52.8 ms
Wall time: 3.1 s

In [20]:
test.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|       null|    null|  null|                null|  null|null| null| null|            null|   null| null|    null|
|       null|    null|  null|                null|  null|null| null| null|            null|   null| null|    null|
|       null|    null|  null|                null|  null|null| null| null|            null|   null| null|    null|
|        107|       1|     3|Salkjelsvik, Miss...|female|  21|    0|    0|          343120|   7.65| null|       S|
|        110|       1|     3| Moran, Miss. Bertha|female|null|    1|    0|          371110|  24.15| null|       Q|
|        111|       0|     1|Porter, Mr. Walte...|  male|  47|    0|    0|          110465|   52.0| C110|       S|
|        113|       0|     3|Barton, Mr. David...|  male|  22|    0|    0|          324669|   8.05| null|       S|
|        120|       0|     3|Andersson, Miss. ...|female|   2|    4|    2|          347082| 31.275| null|       S|
|        137|       1|     1|Newsom, Miss. Hel...|female|  19|    0|    2|           11752|26.2833|  D47|       S|
|        157|       1|     3|"Gilnagh, Miss. K...|female|  16|    0|    0|           35851| 7.7333| null|       Q|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|   16.0| null|       S|
|        160|       0|     3|Sage, Master. Tho...|  male|null|    8|    2|        CA. 2343|  69.55| null|       S|
|        189|       0|     3|    Bourke, Mr. John|  male|  40|    1|    1|          364849|   15.5| null|       Q|
|        199|       1|     3|"Madigan, Miss. M...|female|null|    0|    0|          370370|   7.75| null|       Q|
|        200|       0|     2|"Yrois, Miss. Hen...|female|  24|    0|    0|          248747|   13.0| null|       S|
|        206|       0|     3|Strom, Miss. Telm...|female|   2|    0|    1|          347054|10.4625|   G6|       S|
|        212|       1|     2|Cameron, Miss. Cl...|female|  35|    0|    0|    F.C.C. 13528|   21.0| null|       S|
|        217|       1|     3|Honkanen, Miss. E...|female|  27|    0|    0|STON/O2. 3101283|  7.925| null|       S|
|        221|       1|     3|Sunderland, Mr. V...|  male|  16|    0|    0| SOTON/OQ 392089|   8.05| null|       S|
|        239|       0|     2|Pengelly, Mr. Fre...|  male|  19|    0|    0|           28665|   10.5| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [21]:
predictions = model.transform(test)

In [22]:
print(predictions.dtypes)

[('features', 'vector'), ('label', 'int'), ('rawPrediction', 'vector'), ('probability', 'vector'), ('prediction', 'double')]

In [23]:
predictions.show()

+--------------------+-----+--------------------+--------------------+----------+
|            features|label|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+----------+
|[21.0,7.65,0.0,0....|    1|[6.89377552626270...|[0.34468877631313...|       1.0|
|(6,[0,1],[47.0,52...|    0|[14.1859847504173...|[0.70929923752086...|       0.0|
|(6,[0,1],[22.0,8....|    0|[17.2613983579629...|[0.86306991789814...|       0.0|
|[2.0,31.275,4.0,2...|    0|[15.5012820512820...|[0.77506410256410...|       0.0|
|[19.0,26.2833,0.0...|    1|[2.26138981146894...|[0.11306949057344...|       1.0|
|[16.0,7.7333,0.0,...|    1|[4.83533667227300...|[0.24176683361365...|       1.0|
|[55.0,16.0,0.0,0....|    1|[5.20091572114751...|[0.26004578605737...|       1.0|
|[40.0,15.5,1.0,1....|    0|[16.0386661349680...|[0.80193330674840...|       0.0|
|[24.0,13.0,0.0,0....|    0|[4.20846415958976...|[0.21042320797948...|       1.0|
|[2.0,10.4625,0.0,...|    0|[3.62117184502388...|[0.18105859225119...|       1.0|
|[35.0,21.0,0.0,0....|    1|[3.56455765834632...|[0.17822788291731...|       1.0|
|[27.0,7.925,0.0,0...|    1|[8.83266441515159...|[0.44163322075757...|       1.0|
|(6,[0,1],[16.0,8....|    1|[17.5909821216509...|[0.87954910608254...|       0.0|
|(6,[0,1],[19.0,10...|    0|[17.2150120666124...|[0.86075060333062...|       0.0|
|(6,[0,1],[33.0,12...|    0|[17.0920715558352...|[0.85460357779176...|       0.0|
|[30.0,7.225,0.0,0...|    0|[16.7645701818711...|[0.83822850909355...|       0.0|
|[37.0,52.5542,1.0...|    1|[13.9465446977163...|[0.69732723488581...|       0.0|
|[54.0,26.0,1.0,0....|    0|[17.7759263637656...|[0.88879631818828...|       0.0|
|[29.0,10.4625,1.0...|    0|[4.23114781055001...|[0.21155739052750...|       1.0|
|(6,[0,1],[62.0,26...|    0|[16.4569618933323...|[0.82284809466661...|       0.0|
+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [24]:
factory.evaluateClassifier(completePipeline, data)

   label  Precision    Recall        F1
0    0.0   0.924051  0.793478  0.853801
1    1.0   0.660714  0.860465  0.747475

In [25]:
model.stages[-1].featureImportances

SparseVector(6, {0: 0.1549, 1: 0.1637, 2: 0.0556, 3: 0.0681, 4: 0.5358, 5: 0.0219})